{% extends "layout.html" %}

{% block pageTitle %}
  Confirm school invitation | Early Career Framework
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your invite</h1>




    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
             School details
          </dt>
          <dd class="govuk-summary-list__value">
            {school name} {{ data['school-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="it-two/results">
              Change
              <span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Delivery partner assigned
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['delivery-partner'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/it-two/assign">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Invitation message
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['invite-text'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/it-two/invitation">
              Change
              <span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reply email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['email-reply'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/it-two/invitation">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>

</dl>


      <form action="./confirmed" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm and send
        </button>

      </form>

    </div>
  </div>
{% endblock %}
