
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        The Early Career Framework - Prototypes
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        This is a log of all the prototypes that I am making for ECF
      </p>


      <h2 class="govuk-heading-m">Prototypes of Schools journey</h2>

      <ul class="govuk-list govuk-list--bullet">
          <li>
             <a href="/dashboard_sup">Iteration one - suppliers</a>
          </li>
          <li>
              <a href="/it-two/dashboard_sup">Iteration 2a - suppliers FOR ASSESSMENT DEMO</a>
          </li>
          <li>
                <a href="/it-two-b/dashboard_sup">Iteration 2b - suppliers (WIP)</a>
          </li>
      </ul>



{% endblock %}
